<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string> <!-- Language -->
        <key>CFBundleExecutable</key>
        <string>universalJavaApplicationStub</string> <!-- Relative to Contents/MacOS -->
        <key>CFBundleGetInfoString</key>
        <string>Pokemon Adventures (Beta)</string> <!-- Name in getinfo -->
        <key>CFBundleIconFile</key>
        <string>icon</string> <!-- Name of icon image -->
        <key>CFBundleInfoDictionaryVersion</key>
        <string>8.0</string>
        <key>CFBundleName</key>
	<string>Pokemon Adventures</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleVersion</key>
        <string>8.0</string>        
        <key>JVMMainClassName</key>
        <string>main.Main</string> <!-- Main class -->
</dict>
</plist>